.dashboard-section{height: 700px;}
.dashboard-header{
    background-color:#fff;
    margin-top: 40px;
    margin-bottom: 3rem;
    padding: 30px 0;
    font-family: var(--font-family);
    border-radius: var(--page-border-radius);
}
.dashboard-header .box-wrapper{
    display: flex;
    align-items: center;
}
.dashboard-header h3{
    font-size: 35px;
    font-weight: var(--light-font-weight);
}
.dashboard-header p{
    font-size: 13px;
    line-height: 30px;
    margin-top: 5px;
    color: var(--gray-color);
}
.dashboard-header  img{
    width: 230px;
    margin-right: 3rem;
}
.dashboard-hero-title button{
    padding: 1rem 2rem;
    border-radius: var(--page-border-radius);
    border: none;
    font-weight: var(--light-font-weight);
    font-size: 13px;
    background-color: var(--blue-color);
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
}
.dashboard-hero-title button i{
    margin-right: 5px;
}
.dashboard-content{
    background-color: #e2e2f2;
    border-radius: var(--page-border-radius);
}
.dashboard-content .box-wrapper{
    display: flex; 
    font-family: var(--font-family);
    margin-bottom: 4rem;
    padding: 50px 0;
}
.dashboard_content_text{width: 40%;}
.dashboard_content_text h5{
    font-size: 25px;
    font-weight: var(--light-font-weight);
}
.dashboard_content_text  p{
    font-size: 13px;
    color: var(--gray-color);
    margin-top: 8px;
}
.dashboard_content-stats{
    width: 60%;
    display: flex;
}
.dashboard_number_box{
    background-color: #fff;
    width: 130px;
    text-align: center;
    border-radius: var(--page-border-radius);
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-right: 20px;
}
.dashboard_number_box h6{
    font-size: 25px;
}
.dashboard_number_box p{
    font-size: 12px;
    width: 80% ;
    margin-top: 5px;
    color: var(--gray-color);
}
.dashboard_number_box i{
    position: absolute;
    border-radius: 50%;
    background-color: var(--blue-color);
    color: #fff;
    padding: 10px;
    top: -15px;
    z-index: 1;
    font-size: 20px;
}


